﻿@model IEnumerable<Incidentes.Models.usuario>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.apellidos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fingreso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fultimamodificacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.perfil1.nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.apellidos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fingreso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fultimamodificacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.perfil1.nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.usuario1 }) |
            @Html.ActionLink("Details", "Details", new { id=item.usuario1 }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.usuario1 })
        </td>
    </tr>
}

</table>
