﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Control de incidencias</h1>
    <p class="lead">Mantenimiento de incidencias de oficina</p>

</div>

<div>
    @Html.ActionLink("Problemas", "Index", "Problemas")<br />
    @Html.ActionLink("Clasificacion", "Index", "Clasificacions")<br />
    @Html.ActionLink("Estado", "Index", "Estadoes")<br />
    @Html.ActionLink("Perfiles", "Index", "Perfils")<br />
    @Html.ActionLink("Usuarios", "Index", "Usuarios")
</div>


<div class="row">
    <div class="col-md-4">
        <h2>Hecho para: </h2>
        <p>Fecha: Enero 27 de 2020</p>
    </div>
</div>