﻿@model Incidentes.Models.problema

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>problema</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fechaproblema)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaproblema)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.prioridad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prioridad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Asunto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Asunto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.horassoporte)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.horassoporte)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.clasificacion1.Clase)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.clasificacion1.Clase)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado1.Nom_estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado1.Nom_estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usuario1.nombres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuario1.nombres)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
