﻿@model Incidentes.Models.problema

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>problema</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fechaproblema)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaproblema)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.prioridad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prioridad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Asunto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Asunto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.horassoporte)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.horassoporte)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.clasificacion1.Clase)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.clasificacion1.Clase)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado1.Nom_estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado1.Nom_estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usuario1.nombres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuario1.nombres)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.problema1 }) |
    @Html.ActionLink("Back to List", "Index")
</p>
