﻿@model IEnumerable<Incidentes.Models.problema>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fechaproblema)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.prioridad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Asunto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.horassoporte)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.clasificacion1.Clase)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado1.Nom_estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.usuario1.nombres)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.fechaproblema)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.prioridad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Asunto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.horassoporte)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.clasificacion1.Clase)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estado1.Nom_estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.usuario1.nombres)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.problema1 }) |
            @Html.ActionLink("Details", "Details", new { id=item.problema1 }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.problema1 })
        </td>
    </tr>
}

</table>
